##############################
## Folders                  ##
##############################
Temp
Library
obj
UBER
Standard Assets
##############################
## Netbeans conf            ##
##############################
nb-configuration.xml
nbactions.xml
UBER.meta
