##############################
## Folders                  ##
##############################
Temp
Library
obj
##############################
## Netbeans conf            ##
##############################
nb-configuration.xml
nbactions.xml