##############################
## Folders                  ##
##############################
Temp
Library
obj
UBER
Standard Assets
LocalRes
PostProcessing
##############################
## Netbeans conf            ##
##############################
nb-configuration.xml
nbactions.xml
UBER.meta
LocalRes.meta
Standard Assets.meta
PostProcessing.meta
